html, body {
    height: 100%;
    margin: 0;
}

#app {
    min-height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}

h1 {
    display: none;
}

img {
    width: 100%;
}

.logo {
    margin-top: 3rem;
}

.texto {
    font-size: 1.3rem;
    margin: 3rem 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #113C73;
    color: whitesmoke;
}